body{
    margin:0;
    font-family: 'Roboto Slab', serif;
}
section{
    padding:0 10%;
}
#header-area {
    padding-top: 100px;
}
.flex {
    display: flex;
    overflow: hidden;
}
.half-width{
    width: 50% ;
}
#header-image {
width: 50%;
margin:0 25%;
}
#stay-focused {
    border-left:5px solid #FF6959;
    padding-left: 30px;
    font-size: 50px;
    line-height: 1em;
}
.focus-color {
    color:#FF8E5A ;
}
section p {
    font-size: 18px;
    line-height: 1.6em;
}
.button {
    text-decoration: none;
    color:#ffffff;
    background-color: #FF6959;
    padding:15px 40px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:20px;
    display: inline-block;
}
#scroll {
    font-size: 16px;
}


#mission-header {
    text-align: center;
    font-size: 50px;
}

.mission-image {
    width: 40%;
    height: auto;
}
.column {
    border-radius: 30px;
    margin: 0 15px;
    padding:30px;
}
#column-1 {
    background-color: #FCF3CF;   
}
#column-2 {
    background-color: #FAE5D3;
}
#column-3 {
    background-color: #FDEDEC;
}
.column h3 {
    font-size: 30px;
}
#column-1 h3 {
    padding-top: 9px;
    margin:20px 0;
}
